:root {
  --light-pink: #deb4d5;
  --med-pink: #ce8ba9;
  --dark-pink: #b35d6c;
  --green: #95cfb2;
  --dark-gray: #424242;
  --med-gray: #7d7d7d;
  --light-gray: #bcbcbc;
}

body {
  width: 300px;
  height: 570px;
  margin: 0; /* prevent border of white space */
}

.outer-container{
  position: absolute;
  inset: 0;
  background-color: var(--dark-gray);
}

.inner-container { /* create column of content */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
}

button {
  color: white;
  width: 80%;
  font-weight: 600;
  font-family: inherit;
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.dark-pink {
  background-color: var(--dark-pink);
}
.med-pink{
  background-color: var(--med-pink);
}
.light-pink {
  background-color: var(--light-pink);
}
.light-gray {
  background-color: var(--light-gray);
}


.see-sleeping-tabs-container {
  /* put icon and text next to each other in 1 line */
  display: flex;
  align-items: center;
  color: var(--light-gray);
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}
.see-sleeping-tabs-container:hover {
  color: var(--green);
}
.see-sleeping-tabs-container img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}


.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px; /* space between the toggle and the labels */
}
.toggle-label {
  font-size: 14px;
  color: var(--light-gray); /* color of inactive label */
  cursor: pointer;
}
.toggle-label.active {
  color: white;  /* color of active label */
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  cursor: pointer;
}
.switch input { /* hide checkbox */
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0; 
  cursor: pointer;
}
.slider {
  background-color: var(--light-gray);
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  transition: 0.4s;
  border-radius: 20px;  /* oval shape */
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
/* when checkbox is  checked/unchecked, move the slider */
input:checked + .slider:before {
  transform: translateX(20px);
}

/* recurring weekly snooze set up */
.weekly-days-container {		
  display: flex;		
  flex-direction: column;		
}
.day-label {
  display: block;
  font-size: 14px;
  color: var(--light-gray);
  margin-bottom: 5px;
}
.day-label input {
  margin-right: 7px; /* space between checkbox and label */
}
