:root {
  --light-pink: #deb4d5;
  --med-pink: #ce8ba9;
  --dark-pink: #b35d6c;
  --green: #95cfb2;
  --dark-gray: #424242;
  --light-gray: #bcbcbc;
}

body {
  width: 300px;
  height: 570px;
  margin: 0; /* prevent border of white space */
}

.outer-container{
  position: absolute;
  inset: 0;
  background-color: var(--dark-gray);
}

.inner-container { /* create column of content */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
}

button {
  color: white;
  width: 80%;
  font-weight: 600;
  font-family: inherit;
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.dark-pink-button {
  background-color: var(--dark-pink);
}
.med-pink-button {
  background-color: var(--med-pink);
}
.light-pink-button {
  background-color: var(--light-pink);
}


.see-sleeping-tabs-container {
  /* put icon and text next to each other in 1 line */
  display: flex;
  align-items: center;
  color: var(--light-gray);
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}
.see-sleeping-tabs-container:hover {
  color: var(--green);
}
.see-sleeping-tabs-container img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
