:root {
  --light-pink: #deb4d5;
  --med-pink: #ce8ba9;
  --dark-pink: #b35d6c;
  --green: #95cfb2;
  --dark-gray: #424242;
  --light-gray: #bcbcbc;
}

body {
  background-color: var(--dark-gray);
  color: white;
}

.sleeping-tabs-container ul {
  list-style-type: none;
}

.sleeping-tabs-container li {
  margin-bottom: 1rem;
}


.coffee-button {
  background: none;
  border: none;
  cursor: pointer;
}
.coffee-button img {
  width: 20px;
  height: 20px;
}
